<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
	<PropertyGroup>
		<WebPublishMethod>MSDeploy</WebPublishMethod>
		<ResourceId>/subscriptions/5259130c-d862-4d69-8dfb-336f7f3bc74a/resourceGroups/MBMS/providers/Microsoft.Web/sites/MBMS</ResourceId>
		<ResourceGroup>MBMS</ResourceGroup>
		<RuntimeIdentifier />
		<PublishProvider>AzureWebSite</PublishProvider>
		<LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
		<LastUsedPlatform>Any CPU</LastUsedPlatform>
		<SiteUrlToLaunchAfterPublish>https://mbms-ewbjhzh7fzdnd2d0.southafricanorth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
		<LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
		<ExcludeApp_Data>false</ExcludeApp_Data>
		<MSDeployServiceURL>mbms-ewbjhzh7fzdnd2d0.scm.southafricanorth-01.azurewebsites.net:443</MSDeployServiceURL>
		<DeployIisAppPath>MBMS</DeployIisAppPath>
		<RemoteSitePhysicalPath />
		<SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
		<InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
		<MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
		<EnableMSDeployBackup>true</EnableMSDeployBackup>
		<EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
		<UserName />
		<_SavePWD>false</_SavePWD>
		<_DestinationType>AzureWebSite</_DestinationType>

		<!-- EXCLUDE PACKAGES FOLDER FROM DEPLOYMENT -->
		<ExcludeFilesFromDeployment>packages\**</ExcludeFilesFromDeployment>
		<ExcludeFoldersFromDeployment>packages</ExcludeFoldersFromDeployment>

		<!-- PUBLISH DATABASE SETTINGS -->
		<PublishDatabaseSettings>
			<Objects>
				<ObjectGroup Name="schooldb" Order="1" Enabled="True">
					<Destination Path="Data Source=tcp:mbms.database.windows.net,1433;Initial Catalog=schooldb;Persist Security Info=False;User ID=schooladmin;Password=admin@123;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
					<Object Type="DbCodeFirst">
						<Source Path="Migration"
								DbContext="Michaelhouse.Models.DBContextClass, Michaelhouse"
								MigrationConfiguration="Michaelhouse.Migrations.Configuration, Michaelhouse"
								Origin="Configuration" />
					</Object>
				</ObjectGroup>
			</Objects>
		</PublishDatabaseSettings>

		<!-- ADDITIONAL SETTINGS TO PREVENT PUBLISH ERRORS -->
		<CopyNuGetImplementations>false</CopyNuGetImplementations>
		<DeleteExistingFiles>true</DeleteExistingFiles>
	</PropertyGroup>

	<ItemGroup>
		<MSDeployParameterValue Include="schooldb-Web.config Connection String">
			<ParameterValue>Server=tcp:mbms.database.windows.net,1433;Initial Catalog=schooldb;Persist Security Info=False;User ID=schooladmin;Password=admin@123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
		</MSDeployParameterValue>
	</ItemGroup>
</Project>